body {
    background-image: linear-gradient(45deg, #f3c41a, #FFAE00);
     /* background-color: rgb(248, 194, 46);        */
    font-size: 20px;
    padding: 10px;
    /* font-family: 'Protest Riot', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navbarhover a:hover {
    color: rgb(236, 234, 234);
    background-color: rgb(18, 16, 6);
    
}

#introduccion:target {
    padding-top: 900px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -900px; /* Ajuste negativo para llevar el título a la parte superior */
}
#definicion:target {
    padding-top: 900px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -900px; /* Ajuste negativo para llevar el título a la parte superior */
}
#funcionalidades:target {
    padding-top: 900px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -900px; /* Ajuste negativo para llevar el título a la parte superior */
}
#afuncionalidades:target {
    padding-top: 100px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -100px; /* Ajuste negativo para llevar el título a la parte superior */
}
#capacitaciones:target {
    padding-top: 100px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -100px; /* Ajuste negativo para llevar el título a la parte superior */
}
#aplicaciones:target {
    padding-top: 100px; /* Espacio adicional para separar el título del encabezado */
    margin-top: -100px; /* Ajuste negativo para llevar el título a la parte superior */
}

/* div {
     background-image: linear-gradient(45deg, #FF5A00, #FFAE00); 
  } */
hr{
    border: 4px solid rgb(237, 235, 235);
}
h1 {
    font-family: 'Protest Riot';
    color: rgb(252, 246, 246);
    text-align: center;
    background: #666b6e;
}

h3 {
    font-family: 'Protest Riot';
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 45px;
}
h4{
    font-family: 'Protest Riot';
    color: #cb9e08;
    align-items: center;
    padding: 20px;
   
}

.b-estilo{
    font-family: 'Protest Riot';
    color: #101010; 
}

.imagenes{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.img1 {
    width: 700px;
    margin-bottom: 5px;
    padding-left: 28%;
    margin-bottom: 20px;
}
.img2 {
    width: 500px;
    margin-bottom: 5px;
    border-radius: 15px;
}

/* #introduccion{
    display: flex;
    flex-direction: row; */
/* } */

footer {
    padding: 10px;
    background-color: #141515;
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(248, 243, 243);
    font-family: 'Lucida Sans';
}

footer a:hover {
    color: rgb(210, 220, 22);
}

.pie{
    display: flex;
    justify-content: space-between;
    size: 5px;
    font-family: 'Lucida Sans';
    margin: 3%;
}

@keyframes ejemplo {
    from {
        background-color: rgb(237, 241, 10);
    }

    to {
        background-color: rgb(255, 187, 0);
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #introduccion{
    animation: fadeIn 5s ease-out;
  }
  /* #como{
    animation: fadeIn 3s ease-out;
  }
  #aplicaciones{
    animation: fadeIn 3s ease-out;
  } */

header {
    padding-top: 50px;
    animation-name: ejemplo;
    animation-duration: 15s;
}

#introduccion {

    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    /* este display grid divide en columnas */
}

/* #afuncionalidades {

    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    /* este display grid divide en columnas */
/* } */ */

#definicion {
    display: grid;
    gap: 20px;
    /* este display grid divide en columnas */
}
@media screen and (max-width:500px) {
    .img1 {
        width: 250px;
    }

    h1 {
        text-align: center;
    }
}